@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/microsoft-yahei");

/* #0fc6f1 */
.body {
  font-family: Microsoft Yahei, Arial, Helvetica, sans-serif !important;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.primary-color {
  color: #0fc6f1;
}

.primary-background-color {
  color: #0fc6f1;
}

.logo-light {
  font-family: "DM Sans", sans-serif;
  letter-spacing: 4px;
  text-shadow: 3px 3px 3px #99c2ff, -2px 1px 3px #99c2ff;
}

.logo-light:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.product-card:hover {
  transition: all 0.3s ease-in-out;
  scale: 1.02;
  color: rgb(54, 113, 214);
}

.product-cart-icon {
}

.product-cart-icon:hover {
  transition: all 0.3s ease-in-out;
  scale: 1.4;
  color: teal;
}

.badge-button:hover {
  transition: all 0.2s ease-in-out;
  scale: 1.01;
  transform: translate(1px, -1px);
}

.none-text-transform {
  text-transform: unset !important;
  /* text-decoration: lowercase !important; */
}

.box-shadow {
  box-shadow: 3px 3px 3px #99c2ff, -2px 3px 4px #99c2ff !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.border-radius {
  border-radius: 1rem;
  border: 1px solid blue;
}

.form-error-message {
  color: red;
  margin-top: 6px;
  margin-left: 4px;
  font-style: italic;
}

.danger-hover:hover {
  color: red !important;
}

.text-truncate {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
